@page "/components"

<h2>Components demo</h2>

<hr />

<h3>Simplest component ever:</h3>
<SimplestComponentEver />
<hr />

<h3>Component with parameter:</h3>
<ComponentWithParameter SomeString="Parameter Value" />
<hr />

<h3>I'm component written entirely in c#:</h3>
<CSComponent />
<hr />

@functions{
}