<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">blazortalkdemo</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>

            <NavLink class="nav-link" href="components" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Components
            </NavLink>
            <NavLink class="nav-link" href="bindings" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Bindings
            </NavLink>
            <NavLink class="nav-link" href="events" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Events
            </NavLink>
            <NavLink class="nav-link" href="route" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Routing
            </NavLink>
            <NavLink class="nav-link" href="route/test routing param" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Routing with param
            </NavLink>
            <NavLink class="nav-link" href="canvas" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Canvas
            </NavLink>
            <NavLink class="nav-link" href="interop" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Interop
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
